* {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: Helvetica, STHeiti, Droid Sans Fallback;
    box-sizing: border-box
}

a {
    text-decoration: none;
    color: inherit
}

ul, ol {
    list-style: none
}

em, i {
    font-style: normal
}

.clearFix {
    clear: both
}

.footer {
    position: relative;
    width: 100%;
    height: 5rem;
    background: #fe5400;
    background-image: url("../image/taobao.png");
    background-repeat: no-repeat;
    background-size: 1.75rem 1.25rem;
    background-position: 3% .5rem;
    padding: .375rem;
}

.footer .search {
    width: 88%;
    border-radius: .375rem;
    background: #b52600;
    height: 1.625rem;
    float: right;
    text-align: center;
    color: #f0e0dc;
}

.footer .search span {
    line-height: 1.75rem;
    font-size: .8rem;
}

.footer .search span:before {
    content: '';
    display: inline-block;
    background-image: url("../image/icon666.jpg");
    width: 1.25rem;
    height: 1.25rem;
    background-size: 100% 100%;
    vertical-align: middle;
    margin-bottom: .25rem
}

.footer .fixedBox .main1 {
    position: absolute;
    width: 75%;
    height: 52%;
    background: #5f646e;
    left: 0;
    bottom: 0;
}

.footer .fixedBox .main1 .btn {
    float: left;
    color: #fff;
    font-size: 1.3rem;
    margin-left: .5rem;
    line-height: 2.625rem;
    display: inline
}

.footer .fixedBox .main1 img {
    float: left;
    width: 1.875rem;
    height: 1.875rem;
    margin-left: .75rem;
    margin-top: .375rem
}

.footer .fixedBox .main1 span {
    float: right;
    color: #fff;
    font-size: .8rem;
    line-height: 2.625rem;
    margin-right: 1.875rem
}

.footer .fixedBox > span {
    float: right;
    font-size: .9rem;
    color: #f0e0dc;
    line-height: 3rem
}

.app {
    width: 100%;
}

.app ul li {
    float: left;
    width: 20%;
}

.app ul li img {
    display: block;
    width: 80%;
    height: 2.2rem;
    margin: .5rem auto .25rem
}

.app ul li p {
    text-align: center;
    font-size: .75rem;
    color: #666
}

.banner {
    width: 100%;
    border-top: 1px solid #f4f4f4;
    margin-top: 1.25rem;
}

.banner .left {
    float: left;
    width: 3.75rem;
    height: 1.875rem;
    border-right: 1px solid #f4f4f4;
    background-image: url("https://gw.alicdn.com/tps/i3/TB12wM3HXXXXXbxapXXdFmWHFXX-207-60.png?imgtag=avatar");
    background-size: 80% 60%;
    background-position: 50% 50%;
    background-repeat: no-repeat
}

.banner span:not(.change) {
    margin-left: .75rem;
    padding: .0625rem;
    color: #d81421;
    border: 1px solid #d81421;
    font-size: .75rem;
    line-height: 1.875rem;
    border-radius: .25rem
}

.banner .change {
    margin-left: .75rem;
    font-size: .875rem;
    line-height: 1.875rem;
    color: #353535
}

.rule {
    height: .625rem;
    width: 100%;
    background: #eee
}

.rule1 {
    height: .3125rem;
    width: 100%;
    background: #eee
}

.goods {
    overflow: hidden;
    width: 100%;
}

.goods .left {
    float: left;
    width: 7.5rem;
    height: 10rem;
    border-right: 1px solid #eee;
    background-image: url("https://gw.alicdn.com/tps/i2/TB1nQXGJVXXXXcEXXXXKKOh2VXX-432-567.jpg_q50.jpg?imgtag=avatar");
    background-size: 100% 100%
}

.goods .right {
    float: right;
    width: 12.5rem;
    height: 10rem;
}

.goods .right .goods1 {
    width: 100%;
    height: 50%;
    border-bottom: 1px solid #eee;
    background-size: 100% 100%;
    background-image: url("../image/goods1.png")
}

.goods .right .goods2 {
    width: 50%;
    height: 50%;
    background-size: 100% 100%;
    float: left;
    border-right: 1px solid #eee;
    background-image: url("http://img.alicdn.com/imgextra/i1/47/TB2M86rkpXXXXa6XXXXXXXXXXXX_!!2-subaru.png")
}

.goods .right .goods3 {
    width: 50%;
    height: 50%;
    background-size: 100% 100%;
    float: left;
    background-image: url("http://img.alicdn.com/imgextra/i2/78/TB2WvhzXnoX61Bjy1zkXXc75pXa_!!2-subaru.png")
}

.scroll {
    width: 100%;
    height: 6.25rem;
    background-image: url("https://aecpm.alicdn.com/simba/img/TB1yUqWNFXXXXajXVXXSutbFXXX.jpg_q50.jpg");
    background-size: 100% 100%
}

.last {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding-bottom: .1875rem;
}

.last li {
    width: 20%;
    text-align: center;
    font-size: .82rem;
    color: #5d656b;
    float: left;
}

.last li:first-child:before {
    content: '';
    background-image: url("../image/last.png");
    width: 100%;
    background-size: auto 100%;
    height: 1.375rem;
    display: inline-block
}

.last li:nth-child(2):before {
    content: '';
    background-image: url("../image/last.png");
    width: 100%;
    background-size: auto 100%;
    height: 1.375rem;
    display: inline-block;
    background-position-x: -100%
}

.last li:nth-child(3):before {
    content: '';
    background-image: url("../image/last.png");
    width: 100%;
    background-size: auto 100%;
    height: 1.375rem;
    display: inline-block;
    background-position-x: -200%
}

.last li:nth-child(4):before {
    content: '';
    background-image: url("../image/last.png");
    width: 100%;
    background-size: auto 100%;
    height: 1.375rem;
    display: inline-block;
    background-position-x: -300%
}

.last li:nth-child(5):before {
    content: '';
    background-image: url("../image/last.png");
    width: 100%;
    background-size: auto 100%;
    height: 1.375rem;
    display: inline-block;
    background-position-x: -400%
}
